form(name="input", action="/search", method="post")
  | Search :
  input(type="text", name="word")
  input(type="submit", value="Submit")

ul
    for file in words
        li
            h2 #{file.w}  
            p  #{file.a}
